body {
  line-height: 1.4;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 400;
  background: #f0f1e9;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  outline: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

.container-social {
  background-color: #333;
  position: fixed;
  z-index: 1200;
  width: 100%;
}

i {
  color: #f0f1e9;
}

.fa {
  font-size: 2em;
}

i:hover {
  color: #ffdc00;
}

.wow {
  visibility: hidden;
}

/* BOOTSTRAP OVERRIDES */
ul {
  margin-top: 10px;
}

.nav>li>a {
  padding: 10px 35px;
}

/* BOOTSTRAP OVERRIDES END */

.header {
  background: url('../img/bg-achill.jpg') no-repeat fixed;
  background-size: cover;
  min-height: 730px;
  position: relative;
}

.navbar-default {
  background: rgba(50, 60, 70, 0.9);
  border: 0px;
  margin: 69px 0;
  transition: all 0.3s;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
  outline: none;
}

.navbar-default .navbar-nav>li>a {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  outline: none;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #ffdc00;
  background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #ffdc00;
  background-color: transparent;
}

#thanks {
  padding-top: 250px;
}

@media (max-width: 767px) {
  .navbar-collapse {
    background: rgba(50, 60, 70, 0.9);
  }

  .fa {
    font-size: 1.5em;
  }

  .navbar-default {
    margin: 58px 0;
  }
}

.top-nav-collapse {
  padding: 0;
  background: rgba(50, 60, 70, 1.0);
}

.bg-color {
  background-color: rgba(0, 0, 0, 0.67);
  min-height: 730px;
}

.banner-text {
  border-left: 5px solid #ffdc00;
  padding: 15px 40px;
  color: #fff;
  margin-top: 220px;
}

.banner-text h2,
.banner-text p {
  font-size: 40px;
  font-weight: 400;
  font-family: inherit;
}

.banner-text h2 span {
  font-family: inherit;
}

.overlay-detail {
  margin: 0 auto;
}

.overlay-detail a i {
  text-align: center;
  position: absolute;
  bottom: -140px;
  font-size: 24px;
  color: #fff;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  line-height: 40px;
  border-radius: 50%;
}

.section-padding {
  padding: 140px 0px;
}

#profile.section-padding {
  padding: 0px 0px 0px 0px;
}

#profile .row {
  padding-top: 200px;
}

#profile {
  background: url('../img/9K2A0516_Insta.jpg') no-repeat fixed;
  background-size: cover;
  min-height: 730px;
  position: relative;
}

#profile.bg-color {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 730px;
}

.title {
  font-size: 24px;
  margin-bottom: 50px;
}

.title-text {
  padding: 0px 25px 0px 0px;
  border-right: 5px solid #ffdc00;
  font-size: 24px;
}

.profile-text p,
.title-text span {
  color: #fff;
}

#portfolio {
  background-color: rgba(50, 60, 70, 0.9);
}

.grid-padding {
  padding: 0 8px;
}

.grid-padding img {
  margin-bottom: 15px;
}

.padding-right-zero {
  padding-right: 0px !important;
}

#myGrid {
  margin-top: 80px;
}

#myGrid img {
  border: 1px solid #ccc;
}

#contact {
  width: 100%;
  background-color: rgba(8, 7, 7, 0.92);
}

#contact .btn-primary {
  background: #ffdc00;
  border: 1px solid #ffdc00;
  color: #333;
}

.validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#sendmessage {
  color: green;
  border: 1px solid green;
  background: #fff;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
  background: #fff;
}

#sendmessage.show,
#errormessage.show,
.show {
  display: block;
}

footer {
  padding: 40px 0;
  background: #f0f1e9;
}

.contact-sec h2 {
  font-size: 28px;
  color: #fff;
  font-weight: 400;
  padding: 15px 0px;
}

.contact-sec p {
  color: #fff;
  font-size: 18px;
  padding: 16px 0px 24px;
}

.contact-sec i {
  padding-right: 15px;
}

.contact-sec a {
  color: #FFF;
  background-color: rgba(174, 142, 142, 0.7);
  display: inline-block;
  padding: 16px 34px;
  font-size: 18px;
  transition: all 0.5s ease-in 0s;
}

.social-list li {
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  opacity: 1.0;
  display: inline-block;
  margin: 0;
}

.social-list li a {
  font-size: 24px;
  margin-right: 25px;
}

.navbar-toggle {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
}

.navbar-nav>li>a {
  padding-top: 24px;
  padding-bottom: 24px;
}

.navbar-brand {
  margin-top: 9px;
}

.grid-item {
  width: 200px;
}

.grid-item--width2 {
  width: 400px;
}

@media (min-width: 551px) and (max-width: 980px) {
  .title-text {
    margin-bottom: 15px;
  }

  #profile.section-padding {
    padding: 0px 0px 0px 0px;
  }
}

@media (min-width: 100px) and (max-width: 550px) {
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .text-center-xs {
    text-align: center !important;
  }

  .social-list {
    margin-bottom: 15px;
  }

  .banner-text h2,
  .banner-text p {
    font-size: 30px;
  }

  .title-text {
    margin-bottom: 15px;
  }

  .fa {
    font-size: 1em;
  }

  #profile.section-padding {
    padding: 108px 0px 0px 0px;
  }

  #profile .row {
    padding-top: 50px;
  }

}